<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="MapInfo.Engine.Session.Pooled" value="false" />
    <add key="MapInfo.Engine.Session.State" value="HttpSessionState" />
    <add key="MapInfo.Engine.Session.UseCallContext" value="true" />
    <add key="MapInfo.Engine.Session.ExitProcess" value="true" />
    <add key="MIConnectionName" value="локальные слои" />
    <add key="MIDataFolder" value="C:\_Work\_Projects\Vodokanal\Win4\Starter\bin\x86\Debug\Layers" />
    <add key="StartMWS" value="Базовый набор.MWS" />
  </appSettings>  
    
  <system.web>
    <compilation debug="true" targetFramework="4.0" >
      <assemblies>
        <add assembly="MapInfo.WebControls, Version=7.1.0.228, Culture=neutral, PublicKeyToken=0A9556CC66C0AF57" />
        <add assembly="MapInfo.CoreEngine, Version=7.1.0.228, Culture=neutral, PublicKeyToken=93E298A0F6B95EB1" />
        <add assembly="MapInfo.CoreEngine.Wrapper, Version=7.1.0.228, Culture=neutral, PublicKeyToken=93E298A0F6B95EB1" />
        <add assembly="MapInfo.CoreTypes, Version=7.1.0.228, Culture=neutral, PublicKeyToken=93e298a0f6b95eb1" />
      </assemblies>
   
    </compilation>

    <sessionState timeout="111" mode="InProc" />
    
    <httpModules>
      <add type="MapInfo.Engine.WebSessionActivator, MapInfo.CoreEngine, Version=7.1.0.228, Culture=neutral, PublicKeyToken=93e298a0f6b95eb1" name="WebSessionActivator" />
    </httpModules>

  </system.web>

</configuration>
